#app{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background-color: #E1F5FE;
}
#start_text{
  box-sizing: content-box;
  font-style: normal;
  font-family: "myfont";
  font-weight: normal;
  font-size: 68px;
  line-height: 104px;
  color: #01579B;
  text-shadow: -7px 7px 0px #002F6C;
}
#main{
  display: flex;
  flex-direction: row;
}
#left{
  justify-content: space-between;
  flex-direction: column;
}
#ship{
}
#right{
  flex-direction: column;
}

#start{
  cursor: pointer;
  font-style: normal;
  font-family: "myfont";
  font-weight: normal;
  font-size: 34px;
  line-height: 52px;
  color:cornsilk;
  background-color:#01579B;
  box-shadow: -3px 3px 0px #002F6C;
}
#back{
  cursor: pointer;
  font-style: normal;
  font-family: "myfont";
  font-weight: normal;
  font-size: 17px;
  line-height: 26px;
  color:cornsilk;
  background-color:#01579B;
  box-shadow: -1.7px 1.7px 0px #002F6C;
}
#set-fields{

}
.field-left{

}
.field-right{

}
@font-face {
  font-family: "myfont"; 
  src: url("../fonts/myfont.ttf") format("truetype"); 
}
