#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #3774c4;
  margin-top: 300px;
}
@font-face {
  font-family: "myfont"; 
  src: url("../fonts/myfont.ttf") format("truetype"); 
}
H1{
  font-family: "myfont";
}